

body {
  margin: 0;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: sans-serif;
}

.page {
  padding: 40px;
}

.image-wrapper {
  position: relative;
  max-width: 1200px; /* optional max size */
  width: 100%;
}

.image-wrapper img {
  width: 100%;
  height: auto;
  display: block;
}

.overlay-btn {
  position: absolute;
  background: transparent;
  border: none;
  cursor: pointer;
}

.clock-in {
  left: 8.3%;
  top: 79.4%;
  width: 24.4%;
  height: 12.3%;
}

.no-btn {
  left: 41.5%;
  top: 79.4%;
  width: 24.4%;
  height: 12.3%;
}

.overlay-btn {
  position: absolute;
  background: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
}


.overlay-btn:hover {
  outline: 2px dashed red;
}
